  <footer class="footer footer__NHSUK">
    <div class="footer__main-links">
      <div class="footer__content">
        <ul>
          <li>
            <a href="/">
            <img class="footer__logo" src="https://www.nhs.uk/static/nhsuk_shared/img/nhs-logo.f53b8739bd07.png" >
          </a>
          </li>

          <li><a href="http://www.nhs.uk/Pages/nhs-sites.aspx">NHS sites</a></li>

          <li><a href="http://www.nhs.uk/Pages/about-us.aspx">About us</a></li>

          <li><a href="http://www.nhs.uk/Pages/contact-us.aspx">Contact us</a></li>

        </ul>
      </div>
    </div>

    <div class="footer__utility-links">
      <div class="footer__content">
        <ul>

          <li><a href="http://www.nhs.uk/choices/pages/sitemap.aspx">Sitemap</a></li>

          <li><a href="http://www.nhs.uk/aboutnhschoices/aboutnhschoices/accessibility/pages/accessibilitystatement.aspx">Accessibility</a></li>

          <li><a href="http://www.nhs.uk/Pages/site-policies.aspx">Our policies</a></li>

          <li>© Crown Copyright</li>
        </ul>
      </div>
    </div>
    <!-- endnoindex -->
  </footer>
