<footer class="local-footer__NHSUK">
  <div class="page-section">
    <div class="reading-width">
      <div class="grid-row">
        <div class="column--one-quarter">
          <h2 class="h5">Additional information</h2>
          <ul class="link-list">
            <li><a href="#">hi</a></li>
            <li><a href="#">hi</a></li>
            <li><a href="#">hi</a></li>
            <li><a href="#">hi</a></li>
          </ul>
        </div>
        <div class="column--one-quarter">
          <h2 class="h5">Policies and definitions</h2>
          <ul class="link-list">
            <li><a href="#">hi</a></li>
            <li><a href="#">hi</a></li>
            <li><a href="#">hi</a></li>
            <li><a href="#">hi</a></li>
          </ul>
        </div>
        <div class="column--one-quarter">
          <h2 class="h5">Leaflets and forms</h2>
          <ul class="link-list">
            <li><a href="#">hi</a></li>
            <li><a href="#">hi</a></li>
            <li><a href="#">hi</a></li>
            <li><a href="#">hi</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
