  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{ title }}</title>

  <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
  <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
  <link rel="icon" href="/images/favicon.png">
  {% block styles %}{% endblock %}
  <!--[if gt IE 8]><!-->
  <!-- <link rel='stylesheet' href='/stylesheets/fonts.css' /> <!-->
  <link rel="stylesheet" href="/stylesheets/choices.css" media="screen" type="text/css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!--<![endif]-->
  <!--[if IE 6]><link rel="stylesheet" href="/stylesheets/nhsuk-ie6.css" media="screen" type="text/css"><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="/stylesheets/nhsuk-ie7.css" media="screen" type="text/css"><![endif]-->
  <!--[if IE 8]><link rel="stylesheet" href="/stylesheets/nhsuk-ie8.css" media="screen" type="text/css"><![endif]-->
  <link rel="stylesheet" href="/stylesheets/nhsuk-print.css" media="print" type="text/css">
  <script src="/javascripts/jquery-1.12.4.min.js"></script>
