<footer role="contentinfo">
    <div class="global-footer">
      <div class="global-footer__inner">
        <div>
          <h2 class="util-visuallyhidden">Terms and conditions</h2>
          <ul class="link-list">
            <li>
              <a href="/{{PROTOTYPE_URL}}/app/00-privacy-notice" target="_blank">Privacy notice <span class='util-visuallyhidden'> - Page opens in new window</span></a>
            </li>
            <li>
              <a href="/{{PROTOTYPE_URL}}/app/00-terms-of-use" target="_blank">Terms and conditions <span class='util-visuallyhidden'> - Page opens in new window</span></a>
            </li>
            <li>
              <a href="/{{PROTOTYPE_URL}}/app/00-cookie-policy" target="_blank">Cookie policy <span class='util-visuallyhidden'> - Page opens in new window</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
