@import "../environment/tools/mixins/button";

.button {
  @include button($green);
}

.button--secondary {
  @include button($grey-4);
}

.button--cancel {
  @include button($red);
}

.button-wire {

    font-family: "Frutiger W01", Arial, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      appearance: none;
      background-color: transparent;
      border: 2px solid;
      border-radius: 2px;
      cursor: pointer;
      display: inline-block;
      letter-spacing: .5px;
      line-height: 1.25;
      outline: 1px solid transparent;
      outline-offset: -1px;
      padding: 12px 24px;
      position: relative;
      text-align: center;
      text-decoration: none;
      color: $blue;
      width: auto;

      &:before {

        background: transparent;
        content: "";
        display: block;
        height: 110%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:hover {

      $button-wire-hover-color: darken($blue, 10%);
      color: $button-wire-hover-color;
      border-color: $button-wire-hover-color;

    }

}

// Link button

.button--link {

  font-family: "Frutiger W01", Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    appearance: none;
    background-color: transparent;
    border: 0;
    box-shadow: 0 2px 0 #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: .5px;
    line-height: 1.25;
    outline: 1px solid transparent;
    outline-offset: -1px;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: $blue;
    width: auto;

    &:before {

      background: transparent;
      content: "";
      display: block;
      height: 110%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
  }

}
