.page-band {

  background-color: $blue;
  color: white;
  @include core-font(20);

  a {

    color: white;
    text-decoration: none;

    &:hover {

      text-decoration: underline;

    }
  }

  .page-section {

    padding: 16px 0;
  }
}

.page-title {

  @include bold-font(36);
  padding: 16px 0;

  &.stepper {

    @include bold-font(42);
    padding: 32px 0 8px 0;

    small {

      display: block;
      font-size: 60%;
      margin-top: 16px;
    }

    &::after {

      content: " ";
      display: block;
      border-bottom: 4px solid;
      color: $blue;
      width: 130px;
      margin-top: 8px;
    }
  }

}

.page-title__NHSUK {

  @include bold-font(40);
  padding: 22px 0 4px 0;

  @include media(mobile) {
    padding: 0;
  }

    small {

      display: block;
      font-size: 60%;
      font-weight: 300;
    }
  }
